:root {
	--azul-principal: rgb(23, 6, 124);
	--azul-secundario: rgb(41, 43, 168);
	--color-fondo: rgb(0,0, 0);
	--gris: #666666;
	--eje4: rgb(141, 143, 255);
	--eje3: rgb(120,201,125);
	--eje2: rgb(210,213,85);
	--eje1: rgb(206,124,124);
}

/* html {
  overflow-x: hidden!important;
} */
body {
	font-family: 'Helvetica Neue LT Pro';
  	background-color: var(--color-fondo);
}
a, a:hover {
  text-decoration: none;
}
select:focus{
	color: black;
}
table {
	font-size: small;
	padding: 40px;
}
.boton, .boton-secundario, 
.titulo, .icono-desktop, .eje, 
.objetivo, .linea, .plan{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5px;
	transition: all ease-in-out 0.3s;
}

.noTiene {
	display: none !important;
}

/****************************************************** FOOTER ***************************************************/

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 120px;
	font-size: small; 
	color:white;
}
.footer-container{
	display: block;
	margin-top: 20px;
	margin-bottom: 50px;
	z-index: -1;
}
.footer-img{
	text-align: center;
	padding-bottom: 50px;
}
.footer-img img {
	max-width: 400px;
	height: auto;
	margin: auto;
	
}
.footer-text{
	text-align: center;
	padding: 20px;
	padding-top: 50px;
}
@media(max-width:900px) {
	.footer-img img {
		max-width: 100%;
		margin: 0
	}
	.footer-text{
		text-align: center;
		width: 100%;
	}
}
/****************************************************** HOME ***************************************************/

.home-header {
	background-color: white;
	text-align: center;
	padding: 25px;
	padding-bottom: 50px;
}

.home-header img {
	max-width: 750px;
	max-height: auto;
}
.home-acerca{
	background-color: black;
	color: white;
	padding: 50px;
	padding-left: 300px;
	padding-right: 300px;
	margin: auto;
}
.home-link{
	text-align: center;
	border: 5px solid white;
	max-width: 200px;
	margin: auto;
	margin-top: 50px;
	font-size: 15px;
}
.home-link:hover{
	background-color: #2d2d2d;
}
.home-link a h5 {
	color: white;
	font-weight: 600;
	padding: 20px;
}
.home-link-2{
	text-align: center;
	padding: 20px;
	max-width: 200px;
	margin: auto;
	font-size: 15px;
	background-color: #000;
	color: white;
	border-radius: 50px;
}
.home-link-2:hover{
	background-color: #2d2d2d;
	cursor: pointer;
}
.home-link-2 a, .home-link-2 a:hover {
	color: white;
}
.home-link-2 a h5 {
	font-weight: 600;
}
.box-item{
	max-width: 1200px;
	display: flex;
}
.box-img{
 width: 40%;
 justify-content: right;
 padding-right: 50px;
 display: flex;
 align-items: center;
}

.box-img img {
	height: 100px;
	width: auto;
}
.box-text{
	width: 50%;
	padding: 20px;
	text-align: left;
}

@media(max-width: 900px) {
	.home-header{ 
		padding: 0px;
	}
	.home-header img{
		width:100%;
		height: auto;
	}
	.home-acerca{
		padding: 0px;
		padding-bottom: 50px;
	}
	.box-item{
		display: flex;
		flex-direction: column;
	}
	.box-img{
		text-align: center;
		width: 100%;
	}
	.box-img img{
		width: 25%;
		height: auto;
	}
	.box-text{
		width:100%;
		text-align: center;
	}
	.box-text p {
		font-size: small;
	}
	.home-link {
		padding: 0px;
	}

	.home-link a h5{
		font-size: 17px;
		padding: 15px;
		
	}
	.items-container{
		padding-top: 20px;
	}
}

/********************************************************* MAPA ***********************************************/

.mapa-contenido{
	display: flex;
	justify-content: center;
}
.box-mapa{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	max-width: 1200px;
	margin: auto;
}
.barra-direcciones{
	border: 1px solid black;
	box-shadow: 0px 1px 2px 0px black;
	padding: 20px;
	text-align: left;
}
.mapa-opciones{
	border: 1px solid rgb(23, 6, 124);
	background-color: rgb(232, 230, 241);
	padding: 15;
	margin: 7;
	border-radius: 3px;
	text-align: left;
}
.mapa-opciones:hover{
	box-shadow: 0px 1px 2px 0px rgb(23, 6, 124);
	cursor: pointer;
}
.direcciones-link {
	color: blue;
	text-decoration: underline;
}
.direcciones-link:hover {
	cursor: pointer;
	color: #350ec1;
}
.mapa-referencias {
	max-width: fit-content;
	min-height: 0;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid grey;
	border-radius: 8px;
	box-shadow: 0px 2px 3px 0px grey;
	background-color: #efefef;
	text-align: left;
}
.mapa-titulo {
	width: 100%;
	text-align: center;
}
.mapa-referencias p {
	margin-top: 15px;
}
.mapa-ficha:hover{
	cursor: pointer;
	background-color:rgb(226, 226, 237);
	box-shadow: 0px 1px 2px 0px rgb(41, 43, 168);
	color: var(--azul-principal);
}

@media (max-width: 900px) {
	.box-mapa{
		padding-left: 5px;
		padding-right: 5px;
		width: 95%;
		margin: auto;
	}
	.mapa-contenido{
		display: block;
	}
}

/********************************************************* NAVBAR ***************************************************/
.barra {
    box-shadow: 0 5px 10px 0px rgba(0,0,0,.2);
    align-items: center;
	display: flex;
    justify-content: space-between;
    background-color:var(--azul-principal);
	height: 50px;
	width: 100%;
}
.titulo-seccion{
	align-self: center;
	margin: auto;
	font-size: small;
	color: white;
}
*{
	box-sizing: border-box;
}
.dropdown-contenedor {
	position: relative;
	
}
.dropdown-contenedor label {
	cursor: pointer;
	width: 100%;
}

.dropdown-contenedor
::hover,
::active,
::focus {
	background-color: var(--azul-principal);
	color: #ffffff;
}
.dropdown-menu {
	width: 240px;
	border-radius: 3px;
	box-shadow: 0 8px 15px 0 rgba(0,0,0,.2);
	top: 100%;
	display: none;
	background-color: #ffffff;
	z-index: 10;
	padding: 0;
	right: 0;
	
}
.dropdown-menu  ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: var(--gris);
	overflow: hidden;
	height: 100%;
	z-index: 10;
	left:0;
}
.row{
	height:100%;
}
.dropdown-menu  a {
	text-decoration: none;
	display: block;
	color: white;
	font-size: 13px;
	padding: 16px 20px;
	font-weight: 600;
	transition: all ease-in-out 0.3s;
	text-transform: uppercase;
}
.dropdown-menu 
:hover,
:active,
:focus {
	background-color: var(--azul-principal);
	color: #ffffff;
}
.dropdown-menu ::before {
	z-index: -1;
	transform: rotate(-135deg);
	top: -4px;
	border-color: #ffffff;
	box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
}
.open-menu{
	height: 40px;
	width: 40px;
	border-radius: 50px;
}
.open-menu:hover{
	background-color: var(--azul-secundario);
}
.dropdown-open .dropdown-menu.dropdown-active {
	display: block;
}
.dropdown-contenedor.dropdown-open .dropdown-btn {
	background-color: var(--azul-principal);
	color: #ffffff;
}
.dropdown-contenedor.dropdown-open .dropdown-btn:before {
	transform: rotate(-135deg);
}
.nav-img{
    height: 50px;
    width: auto;
}
.col{
	padding-right: 0px;
	padding-left: 0px;
}
.dropdown-btn, .link-nav{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 11px;
	border-radius: 3px;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
	height: 50px;
	color: white;
	font-weight: 600;
}
.link-nav-container{
	display: flex;
}
.link-nav:hover{
	background-color: var(--azul-secundario);
	color: white;
}
.dropdown-btn:hover{
	background-color: var(--azul-secundario);
	color: white;
}
.titulo-container{
	background-color: black;
	text-align: center;
	color: white;
}
.enlace-principal{
	font-size: 12px;
	color: white;
	margin-right: 5px;
}
.enlace-admin{
	font-size: 12px;
	color:white;
	margin-left: 5px;
}
.icono-desktop{
	display: '';
	color: white;
	font-size: small;
	letter-spacing: 1.3px;
}
.icono-container{
	display: flex;
	align-items: center;
}
.icono-mobile{
	display: none;
}
.left-contenedor{
	display: flex;
	flex-direction: row;
}
@media (max-width: 900px) {
	.titulo-seccion{
		display: none;
	}
	.icono-mobile{
		display: flex;
	}
	.icono-desktop{
		display: none;
	}
}
/************************************* OFFCANVAS ********************************************/

  .off-canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: var(--gris);
	overflow-y: auto;
	white-space: no-wrap;
	transition: width 0.3s ease;
	z-index: 2;
  }

  .oc-btnclose-container{
	padding: 20px;
	justify-content: right;
	display: flex;
	align-items: center;

  }
  .oc-btnclose {
	font-size: 40px;
	height: 40px;
	width: 40px;
	border: none;
	border-radius: 50px;
	background-color: var(--gris);
	color: white;
	display: flex;
	align-items: center;
	text-align: center;
  }
  .oc-close{
	width: 0;
  }

  .oc-open{
	width: 25%;
  }

  .width100{
	width: 100%;
  }

  .width70{
	width: 75%;
  }

  .open-menu {
	border: 0px;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
	color: white;
	background-color: var(--azul-principal);
	transition: all ease-in-out 0.3s;
  }

  .main-content {
	float: right;
	transition: width 0.3s ease;
  }

  @media (min-width: 1200px) {
	.oc-open{
		width: 15%;
	  }
	  .width70{
		width: 85%;
	  }
  }

  @media (max-width: 700px) {
	.oc-open{
		width: 70%;
	  }
	  .width70{
		width: 100%;
	  }
	  
  }

/*************************************** PESTAÑAS ***************************************/
.t-container {
	/* background-color: white; */
	width: 100%;
	margin: auto;
	border-radius: 8px;
	/* box-shadow: 0 8px 15px 0 rgba(0,0,0,.2); */
	display: block;
}
.t-tabs, .t-contents {
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: var(--gris);
	color: white;
}
.t-tabs li {
	color: white;
	padding: 20px;
	text-decoration: none;
	/* background: #b5d0e7; */
	border-bottom: 0;
	min-width: 160px;
	margin-right: 2px;
	margin-bottom: 0 !important;
	/* box-sizing: border-box; */
	cursor: pointer;
	transition: all ease-in-out 0.3s;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}
.t-tabs li:hover {
	background-color: var(--azul-principal);
	color: white;
}
.t-tabs li.selected {
	color: white;
	cursor: default;
	background-color: var(--azul-principal);
}
.t-contents {
	padding:0 !important;
	width: 100%;
}
.t-content {
	background-color: white;
	/* box-shadow: 0 8px 15px 0 rgba(0,0,0,.2); */
	padding: 0 1em;
	box-sizing: border-box;
	float: right;
	width: 100%;
	color: #000000;
	line-height: 1.3em;
	text-align: justify;
	z-index: 1;
	position: relative;
	max-height: 0;
	transition: max-height 0.5s ease 0s;
	overflow: hidden;
}
.t-content.selected {
	max-height:fit-content;
	min-height: 450px;
	transition: max-height 1.25s ease 0.5s;
	padding-bottom: 50px;
	margin-bottom: 100px !important;
}
.t-content ul {
	padding-left: 1.4em;
	margin-bottom: 1.75em;
}
.t-content ul li {
	margin-bottom: 0.5em;
}
.t-content ul li:before {
	float: left;
	margin-left: -19px;
	z-index: 2;
	position: relative;
}
.separator {
	width: 100%;
	float: left;
	height: 0;
	margin: 3em 0;
	text-align: center;
}
@media (max-width: 700px) {
	.t-container {
		background-color: white;
		/* width: 90%; */
		margin: auto;
		border-radius: 8px;
		/* box-shadow: 0 8px 15px 0 rgba(0,0,0,.2); */
		
		display: block;
	}
	.t-tabs, .t-contents {
		list-style-type: none;
		margin: 0;
		padding: 0 2% 0 2%;
		box-sizing: border-box;
	}
	.t-tabs li {
		padding: 30px;
		padding-left: 20px;
		text-decoration: none;
		float: left;
		font-size: 1.1em;
		border-bottom: 0;
		min-width: 160px;
		margin-bottom: 0 !important;
		box-sizing: border-box;
		cursor: pointer;
		width: 100%;
	}
	.t-tabs li:hover {
		background-color: var(--azul-principal);
		color: white;
	}
	.t-tabs li.selected {
		color: white;
		cursor: default;
		background-color: var(--azul-principal);
	}
	.t-contents {
		padding:0 !important
	}
	.t-content {
		background-color: white;
		  /* box-shadow: 0 8px 15px 0 rgba(0,0,0,.2); */
		padding: 0 1em;
		box-sizing: border-box;
		float: left;
		width: 100%;
		color: #000000;
		line-height: 1.3em;
		text-align: justify;
		z-index: 1;
		position: relative;
		max-height: 0;
		transition: max-height 0.5s ease 0s;
		overflow: hidden;
	}
	.t-content.selected {
		max-height:fit-content;
		transition: max-height 1.25s ease 0.5s;
		padding-bottom: 50px;
	}
	.t-content ul {
		padding-left: 1.4em;
		margin-bottom: 1.75em;
	}
	.t-content ul li {
		margin-bottom: 0.5em;
	}
	.t-content ul li:before {
		float: left;
		margin-left: -19px;
		z-index: 2;
		position: relative;
	}
	.separator {
		width: 100%;
		float: left;
		height: 0;
		margin: 3em 0;
		text-align: center;
	}
	
}

/****************************************************** BOX ***************************************************/

.box-header{
  padding: 0 2.5rem;
}
.titulo{
	font-weight: bold; 
	color: black;
	text-align: left;
}
.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/************************************************** TARJETAS ********************************************************/

.box-tarjetas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.box-filtros{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.filtro{
	display: flex;
	flex-direction: column;
}
.form-select-filtros{
	width: 250px;
	margin: 5px;
}
.form-select:focus {
	min-width: 150px;
	background-color: white;
	color: black
	/* width: auto; */
}
.J-paginationjs-size-select{
	margin-left: 40px;
	margin-top: 5px;
}
.J-paginationjs-size-select:focus{
	background-color: white;
	color: black
}
.busqueda-pagination{
	display: flex;
	justify-content:right;
}
.tarjetas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin: auto;
}
.list-wrapper {
	padding: 15px;
	overflow: hidden;
}
.card {
	border: 1px solid #EEE;
	color: #242424;
	background: rgba(239, 242, 244, 0.636);
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
	margin: 10px;
	width: 500px;
	text-align: left;
	/* width: 70%!important; */
	/* max-width: 1000px; */
	
}
.desplegable-plan:focus{
	background: none;
	color: black;
}
.card p {
	margin: 0;
}
.box-pagination{
	display: flex;
	justify-content: center;
}
.paginationjs{
	display: flex;
}
.paginationjs-pages ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}
.paginationjs-pages li:hover{
	cursor: pointer;
}

.paginationjs-pages li {
	display: inline-block;
	margin-right: 5px;
}

.paginationjs-pages li{
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
}

.paginationjs-pages ul .active{
	color: #FFF !important;
	background-color: #350ec1;
}

.small{
	font-size: small;
}
  
.noTiene{display:none !important}

.box-hashtags{
	max-width: 500px;
	margin: 20px;
}
.box-areas{
	margin-top: 20px;
}
.filtro2{
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center;
}
.tag-container {
	display: flex;
	flex-flow: row wrap;
  }

  .tag-container p{
	margin: 10px 10px;
	font-weight: 300;
	font-size: 14px;
	/* opacity: 0.8; */
	letter-spacing: 1px;
  }
  
  .filtro-tag, .hito-tag{
	display: flex;
	pointer-events: none;
	border-radius: 3px;
	background-color: var(--azul-secundario);
	color: white;
	padding: 5px;
	margin: 5px;
	text-align: center;
	align-items: center;
  }
  
  .filtro-tag::before, .hito-tag::before {
	pointer-events: all;
	display: inline-block;
	content: 'X';  
	height: 20px;
	width: 20px;
	margin-right: 6px;
	text-align: center;
	color: #ccc;
	background-color: #666666;
	cursor: pointer;
  }
.tarjetas-container {
	text-align: center;
}
.table {
	width: max-content;
}
  @media (max-width:900px) {
	.t-content.selected {
		padding: 0;
		margin: 0;
	}
	.tarjetas{
	width: 100%;
	}
	.card{
		width: fit-content;
	}
	.form-select-filtros{
		width: 300px;
	}
	.filtro2{
		display: block;
	}
	.box-areas, .box-hashtags{
		width: 100%;
		padding: 10px;
	}
  }

/************************************************* AGREGAR TARJETA ****************************************************/
.box-aviso{
	border: 1px solid rgb(7, 58, 112);
	background-color: rgb(211, 221, 232);
	box-shadow: 0px 1px 2px 0px rgb(7, 58, 112);
	padding: 20px;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
}
.box-aviso p {
	text-align: left;
	color: rgb(7, 58, 112);
	margin-bottom: 0px;
}
.aviso-link{
	color: rgb(10, 52, 167);
	text-decoration: underline;
}
.aviso-link i {
	font-size: 20px;
}
.aviso-link:hover{
	color: blue;
	cursor: pointer;
}
.box-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 100px;
	padding-right: 100px;
	max-width: 1500px;
	margin: auto;
}

.boton{
	color: #FFF ;
	background-color: #350ec1;
    cursor: default;
	padding: 8px 13px;
    text-decoration: none;
    border: 2px solid black;
	font-size: 0.7rem;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
	min-width: 14px;
	margin: 0 5px 0 0;
	letter-spacing: 1px;
}
.boton-chico{
	color: #FFF ;
	background-color: #350ec1;
    cursor: default;
	padding-left: 7px;
	padding-right: 7px;
    text-decoration: none;
	border: 1px solid #EEE;
	font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
}
.boton-chico:hover{
	background-color:var(--azul-principal);
}
.boton:hover{
	background-color:var(--azul-principal);
}
.boton-secundario {
	background-color: #929292 ;
    text-decoration: none;
}
.boton-secundario:hover{
	color: white;
	background-color: #6e6e6e ;
	cursor: pointer;
}
.boton-confirmar{
	background-color: #279c41;
}
.boton-confirmar:hover {
	background-color: #1d7430;
	color: white;
}
.boton:hover{
	cursor: pointer !important;
}

.select-option{
	font-size: small;
}

@media (max-width: 900px) {
	.box-form{
		padding-left: 5px;
		padding-right: 5px;
		max-width: 90%;
		margin: auto;
	}
}


/****************************************************** LOGIN ******************************************************/

.login-container{
	background-color: white;
	width: 50%;
	margin: auto;
	border-radius: 8px;
	box-shadow: 0 8px 15px 0 rgba(0,0,0,.2);
	margin-top: 25px;
}
.box-login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 100px;
}
@media (max-width:900px) {
	.login-container{
		width: 90%;
	}
	.box-login{
		padding-left: 20px;
		padding-right: 20px;
	}
}

/**************************************** INFO *****************************************/

.box-info {
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 10px; 
	max-width: 1000px;
	text-align: left;
	margin: auto;
}
.box-descarga{
	padding: 20px;
	text-align: center;
}
.link-descarga{ 
	font-size: large;
	font-weight: bold;
}
.link-descarga:hover{
	text-decoration: underline;
}
.box-indice{
	border: 1px solid black;
	box-shadow: 0px 1px 2px 0px black;
	margin-bottom: 20px;
	padding: 20px;
}
.indice-items{
	list-style-type:decimal
}
.select2-selection, .select2-dropdown, .select2{
	min-width: fit-content;
}
.noTiene{
	display: none;
}
@media (max-width:900px) {
	.box-info {
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px; 
		max-width: 90%;
		margin: auto;
	}
}

/**************************************** ADMINISTRACION ********************************************/

.seccion-tabla{
	padding: 25px;
	max-width: 1500px;
	margin: auto;
}
.ver-tarjeta{
	box-shadow: 0px 0px 30px 30px rgba(0,0,0,.2);
	min-width: 70%;
	max-width: 100%;
}
.boton-rechazar{
	background-color: #d43131;
}
.boton-rechazar:hover{
	background-color: #932222;
	color: white;
}
.seccion-botones{
	display: flex;
	max-width: 60%;
	margin: auto;
	justify-content: space-around;
}
.form-select .select-option {
	padding: 50px !important;
	font-size: normal !important;
	height: 100px !important;
	display: flex !important;
	justify-content: left;
	align-items: center;
}

.dt-button{
	color: black;
	background-color: #e0e0e0;
    cursor: default;
	padding: 8px 13px;
    text-decoration: none;
    border: 2px solid black;
	font-size: 0.7rem;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
	min-width: 14px;
	margin: 0 5px 0 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.dt-button:hover{
	color: #000;
	cursor: pointer;
	background-color: #989797;
}
.dataTables-filter label input {
	color: #000;
}
/**************************** MODAL ********************/
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 600px;
  }
  
  .close {
	color: #aaaaaa;
	align-self: right;
	font-size: 28px;
	font-weight: bold;
	padding: 10px 12px;
	border-radius: 5px;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .boton-cerrar{
	text-align: right;
  }

  @media (max-width: 900px) {
	.modal-content {
		width: 100%;
	  }
  }


