<html lang="es">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="home-header">
            <img src="./assets/logo_tablero.png" alt="">
            <div class="home-link-2">
                <a href="/tse">
                    <h5>Ingresar</h5>
                </a>
            </div>
        </div>
        <div class="home-acerca">
            <%- include('../partials/home') %>
            <br>
            <div class="home-link">
                <a href="/tse">
                    <h5>Ingresar</h5>
                </a>
            </div>
        </div>
        <div class="footer-container">
            <div class="footer-img">
                <img src="/assets/logo_incaa.png" alt="">
            </div>
        </div>
    </body>
</html>