<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="home-header">
            <h1 class="texto">PROYECTOS INCAA</h1>
        </div>
        <div class="home-acerca">
            <a class="home-link texto" href="/memoria">MEMORIA DE GESTIÓN</a>
            <br><br><br><br>
            <a class="home-link texto" href="/tse">TABLERO DE SEGUIMIENTO ESTRATÉGICO</a>
        </div>
        <br><br><br><br><br>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>