<html lang="es">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="home-header">
            <a href="/tse">
                <img src="./assets/img-home-header.png" alt="">
            </a>
        </div>
        <div class="home-acerca">
            <%- include('../partials/home') %>
            <br>
            <div class="home-link">
                <a href="/tse">
                    <h3>Ingresar</h3>
                </a>
            </div>
        </div>
        <div class="footer-container">
            <div class="footer-img">
                <img src="/assets/logo_incaa.png" alt="">
            </div>
        </div>
    </body>
</html>