<div class="items-container">
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/herramienta.png" alt="">
        </div>
        <div class="box-text">
            <p>Es una aplicación web que funciona como herramienta escalable e integrable con otros subsistemas. Podrá adaptarse
            para brindar respuesta a las distintas necesidades del INSTITUTO y el contexto audiovisual</p>
        </div>
    </div>
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/punteria.png" alt="">
        </div>
        <div class="box-text">
            <p>Permitirá establecer mediciones de datos que mutarán en función de los criterios que irán mejorando progresivamente como resultado de los análisis previos, enfocados en el cumplimiento de la visión, 
                misión y los objetivos estratégicos y facilitar la toma de decisiones a las máximas autoridades</p>
        </div>
    </div>
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/analytics.png" alt="">
        </div>
        <div class="box-text">
            <p>En la sección <i>Estadísticas</i> se incorpora un tablero interactivo de análisis de datos de gestión, que permitirá automatizar el proceso de visualización de datos
            de manera tal que las personas o equipos técnicos correspondientes dispondrán de gráficos en tiempo real</p>
        </div>
    </div>
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/conexiones.png" alt="">
        </div>
        <div class="box-text">
            <p>Fue diseñada para facilitar la comprensión, por parte de autoridades y sus equipos técnicos, de la información dinámica y significativa del INSTITUTO, y como tal debe ser acompañada de reuniones 
                periódicas de seguimiento de gestión</p>
        </div>
    </div>
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/indicador.png" alt="">
        </div>
        <div class="box-text">
            <p>
                Se incorporará la sección <i>Indicadores de gestión</i>, la cual será planificada junto con cada área ya que éstos se ajustan a las necesidades particulares de cada una de ellas, 
                en concordancia con los planes de acción de los cuales son responsables
            </p>
        </div>
    </div>
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/mapa.png" alt="">
        </div>
        <div class="box-text">
            <p>
                Posee un mapa del Plan Estratégico de Gestión Instintucional, que funciona como guía para acceder
                al listado de tarjetas asociadas a cada uno de los planes de acción, permitiendo saber en qué estado de situación se encuentran
            </p>
        </div>
    </div>
</div>