<div class="items-container">
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/herramienta.png" alt="">
        </div>
        <div class="box-text">
            <p>Es una <b style="color: #0979ce;">aplicación web que funciona como herramienta</b> escalable e integrable con otros subsistemas. Podrá adaptarse
            para brindar respuesta a las distintas <b style="color: #0979ce;">necesidades del INSTITUTO y el contexto audiovisual.</b></p>
        </div>
    </div>
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/punteria.png" alt="">
        </div>
        <div class="box-text">
            <p>Permitirá establecer <b style="color: #0979ce;">mediciones de datos que mutarán en función de los criterios que irán mejorando progresivamente </b>como resultado de los análisis previos. enfocados en el cumplimiento de la visión, 
                misión y los objetivos estratégicos y <b style="color: #0979ce;">facilitar la toma de decisiones</b> a las máximas autoridades.</p>
        </div>
    </div>
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/analytics.png" alt="">
        </div>
        <div class="box-text">
            <p>En la sección <i>Estadísticas</i> se incorpora un <b style="color: #0979ce;">tablero interactivo de análisis de datos de gestión</b>, que permitirá automatizar el proceso de <b style="color: #0979ce;">visualización de datos</b>
            de manera tal que las personas o equipos técnicos correspondientes dispondrán de <b style="color: #0979ce;">gráficos en tiempo real</b>.</p>
        </div>
    </div>
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/conexiones.png" alt="">
        </div>
        <div class="box-text">
            <p>Fue diseñada para facilitar la comprensión, por parte de autoridades y sus equipos técnicos, de la <b style="color: #0979ce;">información dinámica y significativa del INSTITUTO</b>, y como tal debe ser acompañada de reuniones 
                periódicas de <b style="color: #0979ce;">seguimiento de gestión</b></p>
        </div>
    </div>
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/indicador.png" alt="">
        </div>
        <div class="box-text">
            <p>
                Se incorporará la <b style="color: #0979ce;">sección <i>Indicadores de gestión</i>, la cual será planificada junto con cada área</b> ya que éstos se ajustan a las necesidades particulares de cada una de ellas, 
                en concordancia con los planes de acción de los cuales son responsables.
            </p>
        </div>
    </div>
    <div class="box-item">
        <div class="box-img">
            <img src="/assets/mapa.png" alt="">
        </div>
        <div class="box-text">
            <p>
                Posee un mapa del Plan Estratégico de Gestión Instintucional, que funciona como <b style="color: #0979ce;">guía para acceder
                    al listado de tarjetas asociadas a cada uno de los planes de acción</b>, permitiendo saber en qué estado de situación se encuentran.
            </p>
        </div>
    </div>
</div>