<div class="box-header">
    <br>
    <h4 class="titulo">Información general</h4>
    <hr>
</div>
<div class="box-info">
    <div class="box-indice">
        <ul class="indice-items">
            <li>
                <a href="#planestrategico">Plan Estratégico de Gestión Institucional</a>
            </li>
            <li>
                <a href="#tablero">Tablero de Seguimiento de Estratégico</a>
            </li>
            <li>
                <a href="#fichas">Fichas de Gestión</a>
            </li>
            <li>
                <a href="#tutorial">¿Cómo se completa una ficha?</a>
            </li>
        </ul>
    </div>
    <div>
        <br><br>
        <h5 id="planestrategico">1. Plan Estratégico de Gestión Institucional INCAA 2022 – 2026</h5>
        <br>
        <div class="descripcion">
            <p>
            El Plan Estratégico (RESOLUCIÓN 805/2022) es una indispensable herramienta de gestión para la toma de decisiones en torno a los quehaceres actuales y al camino que los mismos deben recorrer en el futuro para poder adecuarse a los cambios y demandas que el entorno y el propio sistema impongan. 
            Tiene como principal objetivo Establecer una guía de acción clara y precisa para la administración de los fondos del Instituto, mediante la formulación de estrategias que garanticen el apoyo al cumplimiento de sus objetivos y funciones a través de procedimientos ágiles y transparentes.
            </p>
        </div>
        <div class="box-descarga">
            <a class="link-descarga" href="/tse/descargarpegi">Descargar Plan Estratégico</a>
        </div>
        <div>
            <h6>Misión</h6>
            <br>
            <p>Promover, fomentar, fortalecer y regular la producción audiovisual en territorio argentino y en el exterior, así como garantizar el acceso del público en cada región del país. Para ello, cuenta con una única fuente de financiamiento propia, que es el denominado por la ley: “Fondo de Fomento Cinematográfico”.
            </p>
            <br>
            <h6>Visión</h6>
            <br>
            <p>Ser reconocido nacional e internacionalmente en el ámbito del fomento a la creación y producción audiovisual, que promueva con equidad, responsabilidad y transparencia la realización de contenidos audiovisuales innovadores, de calidad y representativos de nuestra identidad cultural, con proyección local y global, con el fin de fortalecer la industria audiovisual argentina en el mundo.
            Esta visión conlleva una concepción integral de toda la industria con un especial foco en la eficaz utilización de las nuevas tecnologías para el análisis y diseño de los objetivos estratégicos, que se organizan en cuatro ejes:
            <ul>
                <li>Fomento al desarrollo y a la producción de contenidos audiovisuales.</li>
                <li>Conservación, Difusión y Promoción de los contenidos nacionales y de la exhibición de los mismos en el ámbito local e internacional.</li>
                <li>Promover el Desarrollo, Capacitación, Formación e Innovación de la Industria Audiovisual.</li>
                <li>Normativa y Gestión.</li>
            </ul>
            </p>
            <p>
                De cada eje se desprenden objetivos estratégicos, líneas estratégicas y planes de acción,  y a cada plan de acción se le asignó un área responsable de llevarlo a cabo (<a href="https://mapadelestado.jefatura.gob.ar/organismos_oescalar.php?idu=856" target="_blank">ORGANIGRAMA INCAA</a>).
            </p>
        </div> 
        <br>
        <h5 id="tablero">2. Tablero de Seguimiento Estratégico</h5>
        <br>
        <p>Con el objetivo principal de darle mayor presencia al Plan Estratégico de Gestión Institucional, así como su interiorización por parte del personal y su continuidad en el tiempo, el INSTITUTO implementó el Tablero de Seguimiento Estratégico (TSE). </p>
        <p>Esta aplicación web permitirá implementar sistemas de monitoreo y mejora continua, estableciendo progresivamente criterios de medición para controlar la eficiencia y la eficacia en el cumplimiento de la visión, misión y los objetivos estratégicos, facilitando la toma de decisiones a las máximas autoridades.</p>
        <br>
        <h6>Características</h6>
        <br>
        <ul>
            <li>
                Es una herramienta escalable e integrable con otros subsistemas, puede adaptarse para brindar respuesta a las distintas necesidades del INSTITUTO y el contexto audiovisual para alinear su actividad a la estrategia
            </li>
            <li>
                Almacena y organiza la información dinámica y significativa del INSTITUTO, que debe ser acompañada de reuniones periódicas de seguimiento de gestión
            </li>
            <li>
                Facilita el análisis y la comprensión, por parte de autoridades y sus equipos técnicos, del estado de situación del Plan Estratégico, gracias a que incorpora un tablero interactivo de análisis estadísticos de datos provenientes de las tarjetas almacenadas.
            </li>
        </ul>
        <br>
        <h5 id="fichas">3. Fichas de Gestión</h5>
        <br>
        <p>
            La elaboración de fichas de gestión es una estrategia de recopilación de la información referida a la gestión que realiza el Organismo, que sirve a los efectos de presentar dicha gestión de manera clara y precisa.
        </p>
        <p>
            Esencialmente sirven para dar cuenta de las acciones y tareas realizadas por cada área y unidad organizativa, así como para para poder identificarlas con los objetivos de gestión propuestos y poder relacionarlas a otras acciones y tareas afines que lleva a cabo el Organismo. 
        </p>
        <p>
            Es importante reflejar las actividades y acciones que realizamos a través de fichas de gestión porque:
        </p>
        <ul>
            <li>Permiten tener a mano lo realizado durante el ejercicio (periodos mensuales, semestrales, anuales, etc.)</li>
            <li>
                Contar con la información para elaborar informes de gestión desde distintas áreas del Organismo
            </li>
            <li>
                Evaluar y dar cuenta de lo hecho, dar visibilidad entre las áreas y las acciones intra Organismo
            </li>
            <li>
                Fijar objetivos y realizar seguimiento
            </li>
            <li>
                No “desaparecen” gestiones y actividades no comunicadas oportunamente
            </li>
        </ul>
        <br>
        <h5 id="tutorial">
            4. ¿Cómo se completa una ficha?
        </h5>
        <br>
        <br>
        <img src="/assets/ejemploficha.png">
        <br>
        <p><b>TÍTULO:</b> Nombre del proceso, objetivo, plan de acción, elemento o documento producido, actividad realizada.</p>
        <p><b>FECHA:</b> La fecha se refiere a la fecha en la cual se genera la ficha, y esta la genera el propio sistema. De todas formas, para aquellos casos que sean necesario o importante señalar fechas específicas, estas se incluirán en la sección de la descripción</p>
        <p>
        <b>DESCRIPCIÓN: </b>
        Explicación o presentación de la tarea o acción realizada.
        Debe transmitir las principales acciones y aspectos importantes, lo que resulta relevante para el quehacer del área según sus funciones.
        Tiene una extensión máxima de 500 caracteres, por lo que la información debe ser concisa pero lo suficientemente explicativa sobre lo realizado. 
        Para el caso de actividades realizadas consecutivamente y concatenadas que parten de un mismo objetivo, se sugiere listarlas brevemente en una misma descripción. Ej.: apoyos a festivales, exhibiciones realizadas, capacitaciones, etc...
        </p>
        <p>
            <b>NRO. DE EXPEDIENTE Y/O NORMATIVA: </b>
            Es importante incluirlos (si hay expte o nro de normativa) ya que permite visualizar la formalidad del resultado de la acción, y en todo caso acceder al expte. o normativa para ampliar la información en caso de ser necesario.
            Pueden incluir referencias adicionales, normativas que se relacionan, fechas anteriores en cada caso, etc...
        </p>
        <p>
            <b>PALABRAS CLAVE: </b>
            El título de la ficha suele ser la primera introducción al lector sobre el trabajo realizado. Por lo tanto describe con precisión el contenido en el texto de la ficha.
            De todas formas, se incluyen al final de las fichas, las Palabras Clave. Estas son una herramienta para ayudar a indexar y ayudar en la búsqueda para encontrar acciones realizadas en una determinada categoría y/o relacionadas a un determinado tema.
            La correcta inclusión de palabras clave ayudara a dar visibilidad a las fichas. Se deberá incluir un mínino de 4, y un máximo de 10 palabras clave.
            Las palabras clave deben elegirse con cuidado. Algunas características que deben tener las palabras clave relacionada a la tarea y acción contenida en la Ficha deben ser:
        </p>
        <ul>
            <li>Representar el contenido incluido en la descripción</li>
            <li>Ser específicas de su campo o subcampo de actividad</li>
            <li>Con qué objetivos del Organismo contribuyen</li>
            <li>A qué tipo de acción corresponde</li>
        </ul>
    </div>
</div>
