
<div class="box-header">
    <br>
    <h4 class="titulo">Formulario de declaración de nueva ficha de gestión</h4>
    <hr>
</div>
<div class="box-form">
    <br>
    <div class="box-aviso" id="box-aviso">
        <span onclick="switchAviso();" id="aviso-link" class="aviso-link">
            <i class="fa-solid fa-triangle-exclamation">&nbsp;</i>
            <span class="aviso-link-texto">Ocultar</span> 
        </span>
        <p id="aviso-parrafo">
            <br>
            Recuerda que la información volcada en la ficha debe ser lo más resumida, concisa y clara posible, teniendo en cuenta su vinculación con un plan de acción particular. Para más información sobre las Fichas de Gestión dirigirse a la sección "info".
        </p>
    </div>
    <br>
    <br>
    <form onsubmit="agregarTarjeta(event)" id="form-nuevatarjeta" name="form-nuevatarjeta">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título *</label>
            <input type="text" class="form-control" id="nuevatarjeta-titulo" name="titulo" required>
        </div>
        <br>
        <div class="mb-3">
            <label for="cuepro" class="form-label">Descripción <span style="font-size:small;">(máx 500 caracteres)</span> *</label>
            <textarea name="cuerpo" maxlength="500" class="form-control" id="nuevatarjeta-cuerpo" cols="30" rows="10" required></textarea>
        </div>
        <br>
        <label for="tags" class="form-label">Palabras clave * <span class="small">(entre 4 y 10)</span></label>
        <select name ="tags" class="form-control" id="hito-hashtags" onchange="agregarTag(event, 'nuevohito-tags', 'hito-tag')" required>
            <option value selected></option>
            <% for(let t of tags) { %>
                <option value="<%= t %>"><%= t %></option>
            <% } %> 
        </select>
        <div class="tag-container" id="nuevohito-tags"></div>
        <br>
        <br>
        <div class="mb-3">
            <label for="expediente" class="form-label">Expediente</label>
            <input type="text" class="form-control" id="nuevatarjeta-expediente" name="expediente">
        </div>
        <br>
        <div class="mb-3">
            <label for="actoadministrativo" class="form-label">Acto administrativo (dispo o reso)</label>
            <input type="text" class="form-control" id="nuevatarjeta-actoadministrativo" name="actoadministrativo">
        </div>
        <br>
        <div class="mb-3">
            <label for="eje" class="form-label">1. Eje *</label>
            <select id="form-nuevohito-ejes" class="form-select" name="eje" required>
                <option selected value class="select-option"></option>
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label for="objetivo" class="form-label">2. Objetivo estratégico *</label>
            <select id="form-nuevohito-objetivos" class="form-select" name="objetivo" required>
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label for="linea" class="form-label">3. Línea  estratégica *</label>
            <select id="form-nuevohito-lineas" class="form-select" name="linea" required>
            </select>
        </div>
        <br>
        <div class="mb-3">
            <label for="plandeaccion" class="form-label">4. Plan de acción *</label>
            <select id="form-nuevohito-planesdeaccion" class="form-select" name="plandeaccion" required>
            </select>
        </div>
        <br>     
        <p class="small">
            * Los campos con un asterisco deben completarse obligatoriamente.
        </p>
        <div style="text-align: center;">
            <button type="button" class="boton boton-confirmar" onclick="comprobarCamposYAbrirModal()">Aceptar</button>
        </div>
        <div id="modal-nuevatarjeta" class="modal">
            <div class="modal-content">
                <div class="boton-cerrar">
                    <button type="button" onclick="cerrarModal('modal-nuevatarjeta')" class="close">&times;</button>
                </div>
                <div>
                    <p class="small">
                        Se enviará la siguiente ficha al área de Gerencia General para su evaluación. 
                    </p>
                    <div class="card" id="">
                        <div class="card-body">
                            <p class="text-muted"><%= new Date().toLocaleDateString() %></p>
                            <h5 class="card-title contenido" id="titulo"></h5>
                            <p class="card-text contenido" id="cuerpo"></p>
                            <br>
                            <p class="text-muted small" id="expediente"><b>Expediente: </b></p>
                            <p class="text-muted small" id="norma"><b>Acto Administrativo: </b></p>
                            <p class="text-muted small" id="tags">
                                <b>Palabras clave: </b>
                            </p>
                            <hr>
                            <details>
                                <summary class="small desplegable-plan">Plan estratégico</summary>
                                <div>
                                    <br>
                                    <p class="text-muted small" id="eje"><b>Eje: </b></p>
                                    <p class="text-muted small" id="objetivo"><b>Objetivo estratégico: </b></p>
                                    <p class="text-muted small" id="linea"><b>Línea estratégica: </b></p>
                                    <p class="text-muted small" id="plan"><b>Plan de acción: </b></p>
                                </div>
                            </details>
                        </div>
                    </div>
                    <p class="small">
                        ¿Desea continuar?
                    </p>
                </div>
                <div style="text-align: center;">
                    <input type="submit" id="btn-nuevatarjeta" class="boton boton-confirmar" value="Confirmar y enviar">
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function obtenerBody(){
        let form = new FormData(document.getElementById('form-nuevatarjeta'));

        let body = {
            eje: document.getElementById('form-nuevohito-ejes').value,
            objetivo: document.getElementById('form-nuevohito-objetivos').value,
            linea: document.getElementById('form-nuevohito-lineas').value,
            plandeaccion: document.getElementById('form-nuevohito-planesdeaccion').value,
            expediente: form.get('expediente'),
            actoadministrativo: form.get('actoadministrativo'),
            titulo: document.getElementById('nuevatarjeta-titulo').value,
            cuerpo: document.getElementById('nuevatarjeta-cuerpo').value
        }

        let tags = [];

        let tagContainer = document.getElementById('nuevohito-tags')

        for (const child of tagContainer.children) {
            tags.push(child.innerHTML)
        }

        body.tags = tags;

        return body
    }
    function comprobarCamposYAbrirModal() {

        const body = obtenerBody();

        if(body.eje && body.objetivo && body.linea && body.plandeaccion && body.tags) {
            if(body.tags.length<4 || body.tags.length>10){
                mostrarError('¡deben haber entre 4 y 10 palabras clave!');
            } else {
                body.tags = body.tags.join(',')
                mostrarDatos(body)
                abrirModal('modal-nuevatarjeta')
            }
        } else {
            mostrarError('¡Campos incompletos!')
        }
        
    }
    function mostrarDatos(body) {

        document.getElementById('titulo').innerHTML = ''
        document.getElementById('cuerpo').innerHTML = ''
        document.getElementById('expediente').innerHTML = `<b>Expediente: </b>`
        document.getElementById('norma').innerHTML = '<b>Acto Administrativo: </b>'
        document.getElementById('tags').innerHTML = '<b>Palabras clave: </b>'
        document.getElementById('eje').innerHTML = '<b>Eje: </b>'
        document.getElementById('objetivo').innerHTML = '<b>Objetivo estratégico: </b>'
        document.getElementById('linea').innerHTML = '<b>Línea estratégica: </b>'
        document.getElementById('plan').innerHTML ='<b>Plan de acción: </b>'

        document.getElementById('titulo').append(body.titulo)
        document.getElementById('cuerpo').append(body.cuerpo)
        document.getElementById('expediente').append(' ' + body.expediente)
        document.getElementById('norma').append(' ' + body.actoadministrativo)
        document.getElementById('tags').append(' ' + body.tags)
        document.getElementById('eje').append(' ' + document.getElementById('form-nuevohito-ejes').options[document.getElementById('form-nuevohito-ejes').selectedIndex].innerText)
        document.getElementById('objetivo').append(' ' + document.getElementById('form-nuevohito-objetivos').options[document.getElementById('form-nuevohito-objetivos').selectedIndex].innerText)
        document.getElementById('linea').append(' ' + document.getElementById('form-nuevohito-lineas').options[document.getElementById('form-nuevohito-lineas').selectedIndex].innerText)
        document.getElementById('plan').append(' ' + document.getElementById('form-nuevohito-planesdeaccion').options[document.getElementById('form-nuevohito-planesdeaccion').selectedIndex].innerText)
    }
</script>